<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Car Monitor</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Avenir:wght@400;500;900&display=swap"
    rel="stylesheet">
</head>
<body>
    <div class="header_container">
        <button id="login">Login</button>
    </div>
    <div class="container">
        <div class="main">
            <div class="stream">
                <img id="stream" src="{{ url_for('video_feed') }}" width="100%">
                <canvas></canvas>
            </div>
            <div class="menu">
                <button id="draw">DRAW</button>
                <button id="delete">DELETE</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="details">SPS - Smart Parking System ©</p>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>